.btn {
    padding: 9px 20px;
    font-family: 'Int-Regular';
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    letter-spacing: 0.5px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn-filled {
    background-color: var(--red-color);
    color: var(--light-color);
    border: none;
}

.btn-outline {
    background-color: transparent;
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

.btn-icon-text {
    background-color: var(--red-color);
    color: var(--light-color);
    border: none;
}

.btn-icon {
    font-size: 15px;
}

.btn-text {
    color: inherit;
    background: none;
    border: none;
    padding: 9px 20px;
    font-size: 15px;
    cursor: pointer;
}