:root {
  
  /* COLORS */
  --primary-color: #212121;
  --secondary-color: #2c2c2c;
  --light-color: #ffffff;
  --other-color: #686868;
  --green-color: #70bfb3;

  background-color: var(--primary-color);

}
