@import "tailwindcss";
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

/* ******** Custome Fonts ******** */
/* === Inter === */

@font-face {
  font-family: 'Int-Bold';
  src: url(../src/assets/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Int-ExtraBold';
  src: url(../src/assets/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: 'Int-ExtraLight';
  src: url(../src/assets/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: 'Int-Light';
  src: url(../src/assets/fonts/Inter/Inter-Light.ttf);
}

@font-face {
  font-family: 'Int-Medium';
  src: url(../src/assets/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Int-Regular';
  src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Int-SemiBold';
  src: url(../src/assets/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Int-Thin';
  src: url(../src/assets/fonts/Inter/Inter-Thin.ttf);
}

/* ============ */

:root {

  /* COLORS */
  --primary-color: #191919;
  --secondary-color: #1f1f1f;
  --light-color: #ffffff;
  --text-color: #9299a0;
  --text-light-color: #bfc6cc;
  --red-color: #e43a3a;
  --border-color: #3a3a3a;
  --yellow-color: #FFD700;

  color: var(--light-color);
  background-color: var(--primary-color);
  font-family: 'Int-Regular';
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

body {
  margin-top: 65px;
}

i {
  font-size: 14px;
}

.master-btn {
  cursor: pointer;
  text-align: left;
  display: flex;
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 10px;
  border: none;
}

.master-btn:hover {
  transform: scale(1.1);
  /* background-color: var(--secondary-color); */
  /* border: 1px solid var(--border-color); */
}

.master-btn:hover .moviecard-title {
  color: var(--red-color);
  transition: all 0.3s ease;
}

.master-error
{
  width: 200px;
  height: 40px;
  color: var(--red-color);
  background-color: rgb(228, 58, 58, 0.1);
  font-size: 14px;
  font-family: 'Int-Medium';
  margin-top: 20px;
  border: 1px solid var(--red-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.master-loading
{
  width: 200px;
  height: 40px;
  color: #006eff;
  background-color: rgb(0, 110, 255, 0.1);
  font-size: 14px;
  font-family: 'Int-Medium';
  margin-top: 20px;
  border: 1px solid #006eff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-heading {
  color: var(--light-color);
  font-size: 23px;
  font-family: 'Int-SemiBold';
  letter-spacing: 0.5px;
}

.moviecard-title {
  color: var(--light-color);
  font-size: 17px;
  font-family: 'Int-SemiBold';
  letter-spacing: 0.5px;
  line-height: 25px;
}

.moviecard-rating {
  color: var(--light-color);
  font-size: 15px;
  font-family: 'Int-SemiBold';
  letter-spacing: 0.5px;
}

.moviecard-rating i {
  color: var(--yellow-color);
}

.moviecard-genres {
  color: var(--text-color);
  font-size: 14px;
  font-family: 'Int-Medium';
}

.master-container {
  max-width: 76%;
}