.top-rated-card {
    display: flex;
    align-items: start;
    justify-content: left;
    gap: 15px;
}

.top-rated-card-img {
    width: 140px;
    height: 100%;
    border-radius: 10px;
}

.top-rated-movie-title {
    width: 140px;
    white-space: wrap;
    text-align: left;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

/* .top-rated-movie-code {
    width: 60px;
    height: 30px;
    color: var(--text-light-color);
    font-size: 13px;
    font-family: 'Int-Medium';
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
} */

.top-rated-movie-title {
    margin-bottom: 10px;
}

.top-rated-movie-genres {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-rated-movie-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-rated-card-rank {
    color: var(--light-color);
    font-size: 60px;
    font-family: 'Int-SemiBold';
    margin-right: 20px;
}

.top-rated-rank-img-part
{
    display: flex;
    align-items: start;
    justify-content: center;
}

.top-rated-movie-list
{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}






























