.top-rated-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.top-rated-card-img-section
{
    max-width: 45%;
}

.top-rated-card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.top-rated-movie-title {
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-rated-movie-code
{
    width: 60px;
    height: 30px;
    color: var(--text-light-color);
    font-size: 13px;
    font-family: 'Int-Medium';
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.top-rated-movie-title
{
    color: var(--light-color);
    font-size: 18px;
    font-family: 'Int-SemiBold';
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.top-rated-movie-mode
{
    color: var(--text-color);
    font-size: 14px;
    font-family: 'Int-Medium';
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-rated-movie-rating
{
    color: var(--text-light-color);
    font-size: 17px;
    font-family: 'Int-SemiBold';
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-rated-movie-rating i
{
    color: #FFD700;
}





















































