.ibutton
{
    width: 100%;
    color: #FFFFFF;
    background-color: #141413;
    font-family: var(--steb-Regular);
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}



















































