body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-weight: 400;
}

.button-group {
    margin-bottom: 15px;
}

.btn {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #0085ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-right: 10px;
}