.continue-watch-card {
    width: 45%;
    height: 100%;
    padding: 0px;
    border-radius: 15px;
    border: var(--border-color) 1px solid;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue-watch-img
{
    width: 100%;
    border-radius: 15px;
}

























































