:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error-message {
  width: 200px;
  color: red;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
}

.error-message {
  background-color: #fdd;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid red;
}

.error-warning {
  color: orange;
  border-color: orange;
  background-color: #fff3e0;
}
