.studios-card
{
    cursor: pointer;
}

.studios-img
{
    width: 180px;
    height: 110px;
    padding: 20px;
    border-radius: 15px;
    border: var(--border-color) 1px solid;

}































