.coming-soon-movie-poster {
    width: 58%;
    height: 100%;
    padding: 0px;
    border-radius: 15px;
    flex-shrink: 0;
    /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; */
    position: relative;
}

.coming-soon-poster-img
{
    width: 100%;
    border-radius: 15px;
    filter: brightness(80%);
}

.coming-soon-poster-txt
{
    position: absolute;
    top: 40%;
    left: 7%;
    z-index: 99999;
}

.coming-soon-movie-poster::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 50%, transparent);
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.movie-type
{
    width: 110px;
    height: 35px;
    color: var(--text-light-color);
    background-color: rgb(131, 131, 131, 0.3);
    font-size: 13px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.movie-name
{
    color: var(--light-color);
    font-size: 27px;
    font-family: 'Int-Bold';
    margin-bottom: 5px;
}

.movie-episode
{
    color: var(--text-color);
    font-size: 14px;
    font-family: 'Int-Medium';
    margin-bottom: 10px;
}

.coming-soon-poster-txt-btns .btn-outline
{
    color: var(--light-color);
    border: none;
    justify-content: left;
    padding: 10px;
    padding-left: 0px;
}

.coming-soon-poster-txt-btns .btn-outline i
{
    width: 25px;
    height: 25px;
    color: var(--light-color);
    background-color: rgb(131, 131, 131, 0.5);
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



















































































































