/* .sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--secondary-color);
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
} */

.sidebar-logo
{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo
{
  width: 100px;
}

.sidebar-list-group
{
  margin-bottom: 20px;
}

.sidebar-list
{
  margin-top: 20px;
}

.sidebar-title h6
{
  color: var(--text-light-color);
  font-size: 12px;
  font-family: 'Int-Medium';
  margin-bottom: 10px;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar-link-list
{
  padding: 0 20px;
}

.sidebar-link
{
  height: 45px;
  color: var(--text-color);
  font-size: 15px;
  font-family: 'Int-Medium';
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 0 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-bottom: 5px;

}

.sidebar-link i
{
  font-size: 16px;
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.sidebar-link:hover i {
  color: #ec9c9c;
  font-weight: 800;
}

.sidebar-link.active {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.sidebar-link.active i,
.sidebar-link.active .active-icon {
  color: var(--red-color);
  font-weight: 800;
}

.sidebar-links .fa-tv
{
  font-size: 13px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #111;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.navbar-mobile-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 5px;
}

.navbar-mobile-logo {
  width: 80px;
}

.navbar-toggle-btn i{
  font-size: 17px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-toggle-btn i.fa-xmark {
  transform: rotate(90deg);
}

.navbar-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  transition: transform 0.3s ease;
}

.navbar-cnt.shifted {
  transform: translateX(200px); /* you can adjust distance */
}













































