.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0EEE6;
}

.navbar-links-list
{
    margin-right: 40px;
}

.navbar-links-list,
.navbar-link-btn {
    display: flex;
    align-items: center;
}

.navbar-link {
    padding: 20px 15px;
    font-size: 16px;
    font-family: var(--steb-Regular);
}




