#nprogress .bar {
    background: #ff5733 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ff5733, 0 0 5px #ff5733 !important;
}

#nprogress .spinner-icon {
    border-top-color: #ff5733 !important;
    border-left-color: #ff5733 !important;
}